@media only screen and (min-width: 280px) and (max-width: 420px) { 
.pk {
	display: none;
}



.mobile {
	display: block;
}


.m-head {
	width: 100%;
	height: 600px;
	background-image: url(../img/fons/fon1.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
}

.m-head-menu {
	width: 100%;
	height: 60px;
	
}

.m-head-menu-txt {
	width: 30%;
	height: 60px;
	float: left;

}

.m-head-menu-txt img {
	margin-top: 5px;
	margin-left: 5px;
}

.m-head-menu-num {
	width: 70%;
	height: 60px;
	float: left;
}

.m-head-menu-num h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 26pt;
	margin-top: -1px;
    margin-left: 9px;
    text-align: right;
}

.m-head-logo {
	width: 70%;
    height: 58px;
	margin: 0 auto;
	

}

.m-head-txt {
	width: 70%;
    height: 100px;
	margin: 0 auto;
}

.m-head-txt h4 {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 17pt;
	font-weight:500;
}

.m-btn {
	border:solid 4px #f7ce2c;
	width: 165px;
    height: 50px;
    margin: 0 auto;
    -webkit-border-radius:15px 0px 15px 0px;
	border-radius: 15px 0px 15px 0px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:0px; 
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:15px;
	 background-image: -moz-linear-gradient(top, #f7ce2c 0%, #d98900 100%); 
    background-image: -webkit-linear-gradient(top, #f7ce2c 0%, #d98900 100%); 
    background-image: -o-linear-gradient(top, #f7ce2c 0%, #d98900 100%); 
    background-image: -ms-linear-gradient(top, #f7ce2c 0% ,#d98900 100%);

	
}

.m-btn:hover {
	border:solid 4px #d98900;
	width: 165px;
    height: 50px;
	-webkit-border-radius:15px 0px 15px 0px;
	border-radius: 15px 0px 15px 0px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:0px; 
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:15px;
	 background-image: -moz-linear-gradient(top, #f7ce2c 0%, #d98900 100%); 
    background-image: -webkit-linear-gradient(top, #f7ce2c 0%, #d98900 100%); 
    background-image: -o-linear-gradient(top, #f7ce2c 0%, #d98900 100%); 
    background-image: -ms-linear-gradient(top, #f7ce2c 0% ,#d98900 100%);
    cursor: pointer;

}

.m-btn:active {
	border:solid 4px #d98900;
	width: 165px;
    height: 50px;
	-webkit-border-radius:15px 0px 15px 0px;
	border-radius: 15px 0px 15px 0px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:0px; 
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:15px;
	background-image: -moz-linear-gradient(top, #d98900 0%, #f7ce2c 100%); 
    background-image: -webkit-linear-gradient(top, #d98900 0%, #f7ce2c 100%); 
    background-image: -o-linear-gradient(top, #d98900 0%, #f7ce2c 100%); 
    background-image: -ms-linear-gradient(top, #d98900 0%, #f7ce2c 100%);

}



.m-btn p {
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
}

.m-calc {
	float: left;
	padding-left: 7px;
	padding-top: 7px;
}

.m-calc-txt {
   line-height: 1.3;

}

.m-calc-txt p {
	margin-top: 8px;
	margin-left: 5px;
}

.m-btn {
	margin-top: 10px;
}

.m-txt {
	width: 165px;
    height:30px;
    margin: 0 auto;
}

.m-txt h4 {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 17pt;
	font-weight:500;
	margin: 0;
}

.m-txt h4 {
	margin-top: 15px;
}

.m-icons {
	width: 100%;
	height: 40px;
	margin-top: 10px;
}


.m-tel {
	width: 20%;
    height: 35px;
    background-image: url(../img/icon/tel.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30% 82%;
    float: left;
    -webkit-filter: invert(1);
    filter: invert(1);

    
        
}

.m-packed {
	width: 20%;
    height: 35px;
    background-image: url(../img/icon/packed.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 80%;
    margin-left: -10px;
    float: left;
    -webkit-filter: invert(1);
    filter: invert(1);
   
}

.m-note {
	width: 20%;
    height: 35px;
    background-image: url(../img/icon/note.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 73% 80%;
    margin-left: 0px;
    float: left;
    -webkit-filter: invert(1);
    filter: invert(1);
    
}


.m-comp {
	width: 20%;
    height: 35px;
    background-image: url(../img/icon/comp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 87% 80%;
    margin-left: -2px;
    float: left;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.m-mono {
	width: 20%;
    height: 35px;
    background-image: url(../img/icon/mono.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 80%;
    margin-left: 2px;
   float: left;
   -webkit-filter: invert(1);
    filter: invert(1);
}

.m-photo {
	width: 20%;
    height: 35px;
    background-image: url(../img/icon/photo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 80%;
    margin-left: 11px;
   float: left;
   -webkit-filter: invert(1);
    filter: invert(1);
}

.m-tv {
	width: 20%;
    height: 35px;
    background-image: url(../img/icon/tv.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 80%;
    margin-left: -11px;
    float: left;
    -webkit-filter: invert(1);
    filter: invert(1);
}


.m-clock {
	width: 20%;
    height: 35px;
    background-image: url(../img/icon/clock.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 80%;
    margin-left: -10px;
    float: left;
    -webkit-filter: invert(1);
    filter: invert(1);
}


.m-akk {
	width: 20%;
    height: 35px;
    background-image: url(../img/icon/akk.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 80%;
    margin-left: -1px;
    float: left;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.m-giro {
	width: 20%;
    height: 35px;
    background-image: url(../img/icon/giro.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 80%;
    margin-left: 3px;
    float: left;
    -webkit-filter: invert(1);
    filter: invert(1);
}


/*блок как мы работаем*/
.m-work {
	width: 100%;
	height: 700px;
	background-color: #000;
	background-image: url(../img/side-fons/gear2.png);
	background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 61% 34%;
    padding-top: 40px;
}

.m-work-head-txt {
	width: 80%;
	height: 40px;
	margin: 0 auto;
	
}

.m-work-head-txt h4 {
	color: #F1CD0D;
	font-family: 'Ubuntu Condensed', sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	font-size: 22pt;
	text-align: center;

}

.m-work-head-txt-dis {
	width: 90%;
	height: 186px;
	margin: 0 auto;
	

}

.m-work-head-txt-dis p {
	color:#fff;
	text-align: center;
	font-size: 10pt;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.m-work-line {
	width: 100%;
	height: 110px;
	margin: 0 auto;
	

}

.m-work-num {
	width: 15%;
	height: 110px;
	float: left;
}

.m-work-num h1 {
	color: #F1CD0D;
	text-transform: uppercase;
	font-size: 52px;
	margin-top: 5px;
    margin-left: 4px;
	
}

.m-work-left {
	width: 85%;
	height: 110px;
	float: left;
}


.m-work-left h5 {
	color:#fff;
	font-size: 12pt;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.m-work-left p {
	color:#fff;
	font-size: 10pt;
	font-family: 'Ubuntu Condensed', sans-serif;
}


/*блок вызов курьера*/

.m-cur {
	width: 100%;
	height: 700px;
	background-color: #000;
    background-image: url(../img/fons/fon2.jpg);
	background-repeat: no-repeat;
    background-position: 20% 50%;
    background-size: cover;
    padding-top: 40px;


}

.m-cur-fon {
	width: 90%;
	height: 500px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.5);
	padding-top: 20px;
}

.m-cur-fon h5 {
	text-transform: uppercase;
	font-size: 14px;
	margin-left: 5px;

}

.m-cur-fon p {
	font-size: 10pt;
    margin: 0;
    margin-left: 10px;
}

.m-cur-fon span {
	font-weight: 700;
}

.l-left {
	margin-left: 10px;
    margin-bottom: 5px;
}

.m-work-post-txt {
	width: 90%;
	height: 40px;
	margin: 0 auto;
}

.m-work-post-txt p {
	color:#fff;
	font-size: 12px;

}

/*гарантии*/
.m-garant {
	width: 100%;
	height: 700px;
	background-color: #000;
	background-image: url(../img/garant/1.png);
	background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 61% 34%;
    padding-top: 40px;

}

.m-garant-head {
	width: 150px;
	height: 80px;
	margin: 0 auto;
	
}

.m-garant-head-img  {
	width: 50%;
	height: 80px;
	float: left;
	background-image: url(../img/garant/3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.m-garant-head-img h1 {
	font-family: 'Ubuntu Condensed', sans-serif;
	margin-top: -3px;
    margin-left: 11px;
}

.m-garant-head-img p {
	font-family: 'Ubuntu Condensed', sans-serif;
	margin-top: -31px;
    margin-left: 11px;
}


.m-garant-head-txt {
	width: 50%;
	height: 80px;
	float: left;
	
}

.m-garant-head-txt h4 {
	color:#F1CD0D;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    margin-top: 21px;
    margin-left: -21px;
}

.m-garant-txt {
	width: 80%;
	height: 250px;
	padding-top: 20px;
	margin: 0 auto;
}

.m-garant-txt h5 {
    color:#F1CD0D;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

.m-garant-txt p {
    color:#fff;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

 .m-master  {
 	width: 100%;
	height: 700px;
	background-color: #000;
    background-image: url(../img/fons/fon3.jpg);
	background-repeat: no-repeat;
    background-position: 20% 50%;
    background-size: cover;
    padding-top: 40px;
 } 

/*отзыв мобильный*/

.m-otziv {
	width: 100%;
	height: 750px;
	background-color: #000;
}

.m-otziv-txt {
	width: 80%;
	height: 166px;
	margin: 0 auto;
	
}

.m-otziv-txt p {
	color:#fff;
	text-align: center;
	font-size: 10pt;
}

.m-work-head-icon {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background-image: url(../img/rew/hum.png);
	background-repeat: no-repeat;
    background-size: cover;

}

.m-move {
	width: 100%;
	height: 170px;
}

.m-move-txt-slider {
	position: relative;
	width: 100%;
	height: 170px;
	margin: 0 auto;
	margin-top: 20px;
}



.m-move-txt-slider p {
	margin: 0;
	padding: 0;
	font-size: 12pt;
	color:#fff;
	font-family: 'PresentScript';
	margin-left: 40px;
	margin-right: 40px;
	text-align:justify;
	line-height:80%;
}

.m-otziv-img {
    width: 100%;
	height: 50px;
	margin: 0 auto;
	background-image: url(../img/garant/4.png);
	background-repeat: no-repeat;
    background-size: cover;
}

.m-otziv-from {
	width: 80%;
	height: 250px;
	margin: 0 auto;
	
}

.m-otziv-from-head {
	width: 100%;
	height: 25px;
	margin: 0 auto;
	
}

.m-otziv-from-head h4 {
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    color:#fff;
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

.m-otziv-form-line {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	margin-top: 5px;
	
	
}

.m-otziv-form-line-post {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 9px;
}

.m-otziv-form-line-left  {
	width: 49%;
	height: 40px;
	float: left;
	background-color: #1A1A1A;
	-webkit-border-radius:10px 0px 0px 0px;
	border-radius: 10px 0px 0px 0px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:0px; 
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
}

.m-otziv-form-line-right {
	width: 49%;
	height: 40px;
	float: left;
	margin-left: 2%;
	background-color: #1A1A1A;
	
}

.m-otziv-form-line-eare {
	width: 100%;
	height: 40px;
	background-color: #1A1A1A;
	-webkit-border-radius:0px 0px 10px 0px;
	border-radius: 0px 0px 10px 0px;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:0px; 
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:0px;
}

.m-otziv-chk {
	width: 100%;
	height: 40px;
	
}

.m-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

.m-lable {
	color:#fff;
	margin-top: -5px;
    line-height: 1em;
}

input#m-checkbox {
	margin-left: 5px;
	margin-top: 5px;
}

.m-btn-form {
	width: 160px;
    height: 50px;
    margin: 0 auto;
}

/*акции*/
.m-akzi {
	width: 100%;
	height: 350px;
	background-color: #000;
}

.m-akzi-left {
	width: 50%;
	height: 310px;
	margin: 0 auto;
	float: left;
}

.m-akzi-right {
	width: 50%;
	height: 310px;
	margin: 0 auto;
	float: left;
}

.m-akzi-img {
	width: 100%;
	height: 150px;
	background-image: url(../img/news/news.png);
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 88% 78%;
    
}



.m-akzi-name {
	width: 100%;
	height: 20px;
	
}
.m-akzi-name h4 {
    text-transform: uppercase;
    text-align: center;
    color:#F1CD0D;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14pt;
    margin: 0;
    padding: 0;

}

.m-line {
	width: 50px;
	height: 2px;
	background-color: #F1CD0D;
	margin: 0 auto;
	margin-top: 5px;
}

.m-akzi-txt {
	width: 90%;
	height: 100px;
	margin: 0 auto;
	
}

.m-akzi-txt p {
    font-size: 10pt;
	color:#fff;
	margin: 0;
}

.m-akzi-txt-post {
	width: 100%;
	height: 20px;
}

.m-akzi-txt-post p {
	color:#fff;
	text-align: right;
	font-size: 10pt;
	margin: 0;
}

/*контакты*/
.m-cont {
	width: 100%;
	height: 700px;
	background-color: #000;

}

.m-cont-line {
	width: 80%;
	height: 60px;
	margin: 0 auto;
	
}

.m-cont-line-img-1 {
	width: 15%;
	height: 60px;
	float: left;
	background-image: url(../img/contacts/phone.png);
	background-repeat: no-repeat;
    background-position: 45% 29%;
    background-size: 86% 49%;

}

.m-cont-line-img-2 {
	width: 15%;
	height: 60px;
	float: left;
	background-image: url(../img/contacts/adress.png);
	background-repeat: no-repeat;
    background-position: 45% 29%;
    background-size: 86% 49%;

}

.m-cont-line-img-3 {
	width: 15%;
	height: 60px;
	float: left;
	background-image: url(../img/contacts/email.png);
	background-repeat: no-repeat;
    background-position: 45% 29%;
    background-size: 86% 49%;

}

.m-cont-line-txt {
	width: 85%;
	height: 60px;
	float: left;
	
}


.m-cont-line-txt p {
	font-size: 10pt;
	color:#fff;
	margin: 0;
	margin-left: 5px;
}

.m-fix {
	padding-top: 12px;
}

.m-cont-map {
	width: 100%;
	height: 200px;
	border:2px solid #F1CD0D;
	margin: 0 auto;
}

/*@media only screen and (min-width: 280px) and (max-width: 420px)*/
}