.b-repair-fon {
	/*display: none;
	position: fixed;*/
	width: 100%;
	height: 1000px;
	background: rgba(0, 0, 0, 0.5);
	padding-top: 100px;

}

.b-repair {
	width: 315px;
	height: 300px;
	margin: 0 auto;
	background-color: #000;
}

.b-repair-border {
	width: 303px;
    height: 291px;
    margin: 0 auto;
    border: 2px solid #F1CD0D;
    top: 3px;
    position: relative;
}

.repair-form {
	width: 77%;
    height: 95%;
    margin: 0 auto;
    
}

.repair-form h5 {
	color: #F1CD0D;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Monitorca-Rg';
    font-size: 13pt;
    margin-bottom: 15px;
}

.repair-cencel {
	width: 20px;
	height: 20px;
	float: right;
	cursor: pointer;
}


.btn-ripair {
	border:solid 4px #f7ce2c;
	width: 155px;
	height: 47px;
	margin: 0 auto;
	-webkit-border-radius:15px 0px 15px 0px;
	border-radius: 15px 0px 15px 0px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:0px; 
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:15px;
	 background-image: -moz-linear-gradient(top, #f7ce2c 0%, #d98900 100%); 
    background-image: -webkit-linear-gradient(top, #f7ce2c 0%, #d98900 100%); 
    background-image: -o-linear-gradient(top, #f7ce2c 0%, #d98900 100%); 
    background-image: -ms-linear-gradient(top, #f7ce2c 0% ,#d98900 100%);

}


.btn-ripair:hover {
	border:solid 4px #d98900;
	width: 155px;
	height: 47px;
	margin: 0 auto;
	-webkit-border-radius:15px 0px 15px 0px;
	border-radius: 15px 0px 15px 0px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:0px; 
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:15px;
	 background-image: -moz-linear-gradient(top, #f7ce2c 0%, #d98900 100%); 
    background-image: -webkit-linear-gradient(top, #f7ce2c 0%, #d98900 100%); 
    background-image: -o-linear-gradient(top, #f7ce2c 0%, #d98900 100%); 
    background-image: -ms-linear-gradient(top, #f7ce2c 0% ,#d98900 100%);
    cursor: pointer;

}

.btn-ripair:active {
	border:solid 4px #d98900;
	width: 155px;
	height: 47px;
	margin: 0 auto;
	-webkit-border-radius:15px 0px 15px 0px;
	border-radius: 15px 0px 15px 0px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:0px; 
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:15px;
	background-image: -moz-linear-gradient(top, #d98900 0%, #f7ce2c 100%); 
    background-image: -webkit-linear-gradient(top, #d98900 0%, #f7ce2c 100%); 
    background-image: -o-linear-gradient(top, #d98900 0%, #f7ce2c 100%); 
    background-image: -ms-linear-gradient(top, #d98900 0%, #f7ce2c 100%);

}

.btn-ripair p {
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	font-family: 'PT Sans';
}

.btn-ripair-img {
	margin-top: 5px;
	    margin-left: 13px;
	float: left;
}

/*онлайн-заявка*/

input#name-send {
	width: 230px;
	height: 30px;
	margin: 0 auto;
	-webkit-border-radius:10px 0px 10px 0px;
	border-radius: 10px 0px 10px 0px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:0px; 
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:10px;
	padding-left: 10px;
	font-size: 13px;
	font-family: 'PT Sans';
	margin-top: 10px;
	
}

.online p {
	margin-top: 5px;
}